/* --------------------checkbox/checklist------------------------------*/
.form-check-input[type=checkbox] {
    border-radius: 0px;
}
.form-check-input:checked[type=radio] {
    background-image: none;
}

input[type="radio"] {
    -moz-appearance: none;
    padding: 2.6px;
    background-clip: content-box;
    background-color: #fff;
}

.form-check-input:hover {
     border: 1px solid #000484 !important;
 }

/* --------------------dropdown------------------------------*/

.is-open > .Select-control  {
    font-family: 'Noto Sans';
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    width: 300px;
    height: 48px;
    background: #f2f2f8;
    border: 1px solid transparent;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    border-radius: 0px;
}


.Select--single>.Select-control .Select-value, .Select-placeholder:hover {
    background-color: #DEE0E6;
}

.Select-control {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 0px;
    width: 300px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid transparent;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}
.Select-clear-zone {
    -webkit-animation: Select-animation-fadeIn .2s;
    -o-animation: Select-animation-fadeIn .2s;
    animation: Select-animation-fadeIn .2s;
    color: green;}

.Select-menu-outer {
    font-family: 'Noto Sans';
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 0px 0px;
    width: 300px;
    height: 190px;
    background: #FFFFFF;
    border: 1px solid grey;
    gap: 32px;
    /*padding-bottom: 7.7px;*/
    border-radius: 0px;
}

.Select-clear {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    padding: 10px;
    color: green;
}

.Select, .Select div, .Select input, .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Noto Sans';
}

.Select-arrow-zone {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    width: 25px;
}

.Select-arrow {
    height:6px;
    width:12px;
    border-width: 6px 6px 6px 6px;
    border-block-start-color: blue;
    margin-top: 12px;
}

.is-open>.Select-control .Select-arrow {
    border-block-end-color: #003FE2;
    height: 6px;
    width: 12px;
    margin-top: 12px;
    border-width: 0px 6px 6px 6px;
}

.Select--single>.Select-control .Select-value, .Select-placeholder {
    bottom: 0;
    color: #aaa ;
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    color: #4C5459;
    background-color:#F2f2f8;
    padding: 5px 0px 0px 16px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
    background: transparent;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 4px solid transparent;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 8px;
}

.accordion-button {
  color: black;
  background-color: white;
}

.accordion-button:not(.collapsed) {
  background-color: #F2F2F8;
  color:black;
  }

.custom-accordion-item.active .accordion-header {
  background-color: white !important;
}

.custom-accordion-item.active .accordion-header:hover {
  background-color: #f8f9fa !important;
}

.custom-accordion .custom-accordion-item:hover {
  background-color: #F2F2F8;
  border-top: 1px solid #858D97;
}

.nav-item:hover .nav-link {
  background-color: #F2F2F8;
}

.nav-item .nav-link.active {
  border-bottom: 2px solid #003FE2;
}

.nav-item .nav-link:focus {
  outline: 2px solid #0095FF;
}

.nav-item.disabled {
    opacity: 0.2;
    pointer-events: none;
}
/******************************tooltip******************************/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*-----------inputField-------------*/
::-webkit-input-placeholder {
    font-style: italic;
    background: url('bckimg.svg');
      background-position: 2px 3px ;
      background-repeat: no-repeat;
      padding-left: 20px;
}

.my-input {
    /* Normal state */
    background-color: #F2F2F8;
    color: #000000;
    border-radius: 1px;
    border: none;
}

.my-input:hover {
    /* Hover state */
    background-color: #DEE0E6;
    border-radius: 1px;
}

.my-input:focus {
    /* Active state */
    background-color: #F2F2F8;
    border: 1px solid #003FE2 !important;
    outline: none;
}

.my-input:disabled {
    /* Disabled state */
    background-color: #DEE0E6;
    color: #858D97;
}

.my-input.error {
    /* Error state */
    background-color: #F2F2f8;
    border: 1px solid #FF0000;
    color: #FF0000;
}

.my-input:invalid {
    /* Invalid state */
    background-color: #F2f2f8;
    border: 1px solid #FF0000;
    color: #FF0000;
}

/******************tooltip*************************/
.tooltip {
  // scss-docs-start tooltip-css-vars
  --#{$prefix}tooltip-zindex: #{$zindex-tooltip};
  --#{$prefix}tooltip-max-width: #{$tooltip-max-width};
  --#{$prefix}tooltip-padding-x: #{$tooltip-padding-x};
  --#{$prefix}tooltip-padding-y: #{$tooltip-padding-y};
  --#{$prefix}tooltip-margin: #{$tooltip-margin};
  @include rfs($tooltip-font-size, --#{$prefix}tooltip-font-size);
  --#{$prefix}tooltip-color: #{$tooltip-color};
  --#{$prefix}tooltip-bg: #{$tooltip-bg};
  --#{$prefix}tooltip-border-radius: #{$tooltip-border-radius};
  --#{$prefix}tooltip-opacity: #{$tooltip-opacity};
  --#{$prefix}tooltip-arrow-width: #{$tooltip-arrow-width};
  --#{$prefix}tooltip-arrow-height: #{$tooltip-arrow-height};
  // scss-docs-end tooltip-css-vars

  z-index: var(--#{$prefix}tooltip-zindex);
  display: block;
  padding: var(--#{$prefix}tooltip-arrow-height);
  margin: var(--#{$prefix}tooltip-margin);
  @include deprecate("`$tooltip-margin`", "v5", "v5.x", true);
  // Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
  // So reset our font and text properties to avoid inheriting weird values.
  @include reset-text();
  @include font-size(var(--#{$prefix}tooltip-font-size));
  // Allow breaking very long words so they don't overflow the tooltip's bounds
  word-wrap: break-word;
  opacity: 0;

  &.show { opacity: var(--#{$prefix}tooltip-opacity); }

  .tooltip-arrow {
    display: block;
    width: var(--#{$prefix}tooltip-arrow-width);
    height: var(--#{$prefix}tooltip-arrow-height);

    &::before {
      position: absolute;
      content: "";
      border-color: transparent;
      border-style: solid;
    }
  }
}

.bs-tooltip-top .tooltip-arrow {
  bottom: 0;

  &::before {
    top: -1px;
    border-width: var(--#{$prefix}tooltip-arrow-height) calc(var(--#{$prefix}tooltip-arrow-width) * .5) 0; // stylelint-disable-line function-disallowed-list
    border-top-color: var(--#{$prefix}tooltip-bg);
  }
}

/* rtl:begin:ignore */
.bs-tooltip-end .tooltip-arrow {
  left: 0;
  width: var(--#{$prefix}tooltip-arrow-height);
  height: var(--#{$prefix}tooltip-arrow-width);

  &::before {
    right: -1px;
    border-width: calc(var(--#{$prefix}tooltip-arrow-width) * .5) var(--#{$prefix}tooltip-arrow-height) calc(var(--#{$prefix}tooltip-arrow-width) * .5) 0; // stylelint-disable-line function-disallowed-list
    border-right-color: var(--#{$prefix}tooltip-bg);
  }
}

/* rtl:end:ignore */

.bs-tooltip-bottom .tooltip-arrow {
  top: 0;

  &::before {
    bottom: -1px;
    border-width: 0 calc(var(--#{$prefix}tooltip-arrow-width) * .5) var(--#{$prefix}tooltip-arrow-height); // stylelint-disable-line function-disallowed-list
    border-bottom-color: var(--#{$prefix}tooltip-bg);
  }
}

/* rtl:begin:ignore */
.bs-tooltip-start .tooltip-arrow {
  right: 0;
  width: var(--#{$prefix}tooltip-arrow-height);
  height: var(--#{$prefix}tooltip-arrow-width);

  &::before {
    left: -1px;
    border-width: calc(var(--#{$prefix}tooltip-arrow-width) * .5) 0 calc(var(--#{$prefix}tooltip-arrow-width) * .5) var(--#{$prefix}tooltip-arrow-height); // stylelint-disable-line function-disallowed-list
    border-left-color: var(--#{$prefix}tooltip-bg);
  }
}

/* rtl:end:ignore */

.bs-tooltip-auto {
  &[data-popper-placement^="top"] {
    @extend .bs-tooltip-top;
  }
  &[data-popper-placement^="right"] {
    @extend .bs-tooltip-end;
  }
  &[data-popper-placement^="bottom"] {
    @extend .bs-tooltip-bottom;
  }
  &[data-popper-placement^="left"] {
    @extend .bs-tooltip-start;
  }
}

// Wrapper for the tooltip content
.tooltip-inner {
  max-width: var(--#{$prefix}tooltip-max-width);
  padding: var(--#{$prefix}tooltip-padding-y) var(--#{$prefix}tooltip-padding-x);
  color: var(--#{$prefix}tooltip-color);
  text-align: center;
  background-color: var(--#{$prefix}tooltip-bg);
  @include border-radius(var(--#{$prefix}tooltip-border-radius));
}



/******************radio items*************************/

input[type='radio']:after {
    width: 11px;
    height: 11px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    /* position: relative; */
    /* background-color: transparent; */
    content: '';
    display: inline-block;
    /* visibility: visible; */
    border: 1px solid #000484;
}

.special-radio-item input[type='radio']:after {
    width: 11px;
    height: 11px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    /* position: relative; */
    background-color: #DEE0E6;
    content: '';
    display: inline-block;
    /* visibility: visible; */
    border: 1px solid #858D97;
}
