[tool.poetry]
name = "shiny-mdc"
version = "1.8.0"  # managed by `poetry-dynamic-versioning`
description = "Tool to compile markdown files to tex/pdf using pandoc, latexmk"
readme = "README.md"
authors = ["Jayanth Koushik <mail@jkoushik.me>"]
license = "MIT"
repository = "https://github.com/jayanthkoushik/shinymdc"
packages = [
  { include = "shinymdc" }
]
include = [
  { path = "test", format = "sdist" },
  { path = "CHANGELOG.md", format = "sdist"},
]

classifiers=[
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: End Users/Desktop",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Utilities",
]

[tool.poetry.scripts]
shinymdc = "shinymdc.shinymdc:main"

[tool.poetry.dependencies]
python = "^3.9"
corgy = { version="^8.1.1", extras = ["colors"] }
pyyaml = "^6.0"

[tool.poetry.dev-dependencies]
pre-commit = "^2.0"
black = "^22.0"
isort = "^5.1"
pylint = "^2.14"
mypy = "^1.1"
pydocstyle = "^6.1"
types-PyYAML = "*"

[tool.poetry-dynamic-versioning]
enable = false
vcs = "git"
style = "semver"

[tool.poetry-dynamic-versioning.substitution]
files = ["*/_version.py"]

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.black]
line-length = 88
skip-magic-trailing-comma = true

[tool.isort]
profile = "black"
line_length = 88
combine_as_imports = true
force_alphabetical_sort_within_sections = true

[tool.pylint.FORMAT]
max-line-length = 88

[tool.pylint.'MESSAGES CONTROL']
disable = """
    fixme,
    missing-docstring,
    invalid-name,
    ungrouped-imports,
    wrong-import-order,
    wrong-import-position,
    import-outside-toplevel,
    unused-argument,
    no-member,
    protected-access,
    attribute-defined-outside-init,
    too-few-public-methods,
    too-many-public-methods,
    too-many-ancestors,
    too-many-instance-attributes,
    too-many-arguments,
    too-many-locals,
    too-many-statements,
    too-many-lines,
    too-many-branches,
    too-many-nested-blocks,
    too-many-return-statements,
    too-many-boolean-expressions,
    unspecified-encoding,
"""

[tool.pydocstyle]
convention = "pep257"
add-ignore = "D100,D101,D102,D103,D104,D105,D106,D107"

[tool.mypy]
ignore_missing_imports = true
