[tool.poetry]
name = "httplus"
version = "0.1.1"
description = "An HTTP asynchronous client."
authors = ["Manasses Lima <manasseslima@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"

[tool.poetry.group.dev.dependencies]
pytest = "^7.3.1"
pytest-asyncio = "^0.21.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
